<?php if (!isset($error)): ?>
<ul class="todo-list">
	<?php foreach($tasks as $task): ?>
	<li class="todo-list-task">
        <input type="hidden" name="tasks[][task]" value="<?= $task['task'] ?>" />
        <span>
            <?= $task['task']; ?>
        </span>
        <span>
            <button
                data-request="onDelete" 
                data-request-data="task: '<?= $task['task'] ?>'"
                data-request-success="$(this).closest('li').remove()"
                class="todo-delete">
                x
            </button>
        </span>
	</li>
	<?php endforeach; ?>
</ul>
<?php endif; ?>
